# Dependencies
node_modules/

# Build output
public/
resources/
static/admin/

# Tina
tina/__generated__/

# Environment
.env
.env.development
.env.local

# Cache
.hugo_build.lock
.DS_Store
node_modules