{{ define "main" }}

<!-- success stories -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card border-0 rounded-0 hover-shadow">
          {{ with .Params.image }}
          {{ partial "image.html" (dict "Src" . "Alt" "success story" "Class" "card-img-top rounded-0") }}
          {{ end }}
          <div class="card-body">
            <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <p class="card-text">{{ .Params.description | truncate 100 }}</p>
            <div class="d-flex justify-content-between">
              <span class="text-primary">{{ .Params.client_name }}</span>
              <span>{{ .Params.project_type }}</span>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }} 