// Critical CSS
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 1px;
}

.navigation {
  padding: 40px 130px;
  transition: .3s ease;
  min-height: 80px;
  
  &.nav-bg {
    padding: 15px 100px;
    background: $primary-color;
  }
}

@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    .navbar {
      padding: 0;
    }
  }
} 