{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.image }}
        {{ partial "image.html" (dict "Src" . "Alt" "about image" "Class" "img-fluid w-100 mb-4" ) }}
        {{ end }}
        {{ .Content }}
      </div>
    </div><!-- Vision -->
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="section-title">Visi Perusahaan</h2>
        <p>{{ .Params.company_vision }}</p>
      </div>
    </div>

    <!-- Mission -->
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="section-title">Misi Perusahaan</h2>
        <p>{{ .Params.company_mission }}</p>
      </div>
    </div>

  </div>
</section>
<!-- /about -->


{{ end }}