{{ $context := . }}
{{ $image := "" }}
{{ $alt := "" }}
{{ $class := "" }}
{{ $widths := site.Params.image.widths.default | default (slice 400 600 800 1200) }}

{{ if reflect.IsMap . }}
  {{ $image = .Src }}
  {{ $alt = .Alt }}
  {{ $class = .Class }}
{{ else }}
  {{ $image = .Params.image }}
  {{ $alt = .Title }}
  {{ $class = "img-fluid" }}
{{ end }}

{{ if $image }}
  {{ $src := resources.Get (printf "images/%s" $image) }}
  {{ if $src }}
    {{ $srcset := slice }}
    {{ $img := "" }}
    
    {{ range $index, $width := $widths }}
      {{ $resize := $src.Resize (printf "%dx" $width) }}
      {{ $srcset = $srcset | append (printf "%s %dw" ($resize.RelPermalink | safeURL) $width) }}
      {{ if eq (len $widths) (add $index 1) }}
        {{ $img = $resize }}
      {{ end }}
    {{ end }}
    
    {{ $srcset = delimit $srcset ", " }}
    
    <img
      data-src="{{ $img.RelPermalink }}"
      data-srcset="{{ $srcset }}"
      class="{{ $class }} lazyload"
      height="{{ $img.Height }}"
      width="{{ $img.Width }}" 
      alt="{{ $alt }}"
      data-sizes="auto"
    />
    <noscript>
      <img
        src="{{ $img.RelPermalink }}"
        class="{{ $class }}"
        height="{{ $img.Height }}"
        width="{{ $img.Width }}"
        alt="{{ $alt }}"
      />
    </noscript>
  {{ else }}
    <img
      src="{{ $image | relURL }}"
      alt="{{ $alt }}"
      class="{{ $class }}"
      loading="lazy"
      decoding="async"
    >
  {{ end }}
{{ else }}
  <div 
    class="image-placeholder {{ $class }}"
    style="background: #f5f5f5; min-height: 200px; display: flex; align-items: center; justify-content: center;"
  >
    <span>No image provided</span>
  </div>
{{ end }}